out/*png
mz/split/*.png
mz/*.png
live_cv/*.png
live_mz/*.png
solved/*.png
mz_tiled/*.png
strips/*.png
split/*.png
masks/*.png
laby/*.png
img/*.png
out/**
*.png
*.jpg
video_in/a.mp4
video_in/b.m4v
video_in/c.m4v
video_in/b.mp4
video_out/b.avi
